.body{
    background-color: blueviolet;
    text-align: center;
}
.butClass1{
    background-color: burlywood;
    color: red;
    border:1px solid green;
    padding: 5px;
    font-size: medium;
    margin-right: 10px;
}
.butPos{
    display:flex;
    flex-direction: column;
    align-content: space-between;
    margin: auto;
    justify-content: center;
    border:2px dotted yellowgreen;
    padding: 50px;
    height: fit-content;
    width: fit-content;   
   
}