<div class="container-fluid">
    <div class="row bg-light d-flex align-items-center " style="height: 550px;">
      <form>
      <div class="col-4 mt-5 mx-auto h-75">
       <h2 class="text-left mb-2">Licence Register Form</h2> 
       <div class=" form-group row mb-2">
        <div class="d-flex col-12 mb-2">
       <label class="fs-6 col-2 text-left">Name</label>
       <input type="textbox" class="form-control rounded-1" style="width: 350px;" placeholder="enter firstname" [(ngModel)]="this.name" name="firstName"></div>
       <div class="d-flex col-12 mb-2">
       <label class="fs-6 col-2 text-left">age</label>
       <input type="textbox" class="form-control rounded-1" style="width: 350px;"  placeholder="enter lastword" [(ngModel)]="this.age" name="lastName"></div>
       <div [formGroup]="licForm" class="d-flex col-12 fs-6 mb-2">
       <label class="col-2">Gender</label>
       <div class="d-flex">
       <div class="me-1">
       <input type="radio" formControlName="gender" value="male">Male
       </div>
       
       <div class="me-1">
       <input type="radio" formControlName="gender" value="female">Female
       </div></div>
       </div>
       <div [formGroup]="isLicenceForm" class="d-flex  col-12 fs-6 mb-2">
        <div class="col-12">
          <div>
       <label class="col-2">Already have Licence?</label></div>
       <div>
       <div class="me-1">
        <input type="radio" formControlName="isLicence" value="yes">Yes
        </div>
        
        <div class="me-1">
        <input type="radio" formControlName="isLicence" value="no">No
        </div>
        </div>
        </div>
        <div class="col-12">
          <label>Select country</label>
        <select formControlName="country" class="form-control">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>

        </select>
        </div>
      </div>
       <!--
       date of application
       choose a photo file -->
       </div>
       <div class="form-group row" style="margin-left: 0.01rem;">
       <button (click)="regLicence()" class="w-25 me-2 btn btn-primary">Register</button>
       <button (click)="cancelForm()" class="w-25 btn btn-light text-primary">Cancel</button>
      </div>
      </div>
    </form>
    </div>
    <div class="row d-flex flex-column mt-4 text-center">
      <p class="text-primary fs-6 ">Angular 16 - User Registration and Login Example</p>
      <p class="text-primary fs-6 ">RekhaAngular.com</p>
    </div>
  </div>
